html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/ManropeExtraLight.woff2");
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/ManropeSemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/ManropeBold.woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/ManropeExtraBold.woff2");
  font-display: swap;
  font-weight: 800;
}

body {
  padding: 40px;
  font-family: "Manrope", sans-serif;
  background: #FFE95A;
}

.content {
  max-width: 1180px;
  margin: 0 auto;
  background: #FFF;
  border: 5px solid #111;
  box-shadow: 14px 14px 0 0 #111;
}

.header {
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 5px solid #111;
}

.header__logo {
  text-decoration: none;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  color: #111;
}

.header__list {
  list-style: none;
  display: flex;
  gap: 12px;
}

.header__link {
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #111;
  transition: background 0.3s, color 0.3s;
}

.header__link:hover {
  background: #111;
  color: #FFF;
}

.header__info {
  position: relative;
}

.header__btn {
  padding: 8px 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
  display: flex;
  align-items: center;
  gap: 12px;
  background: #00E88F;
  border: 3px solid #111;
  cursor: pointer;
  transition: background 0.3s;
}

.header__btn:hover {
  background: #03c379;
}

.header__avatar {
  display: block;
  width: 54px;
  height: 54px;
  border: 3px solid #111;
  border-radius: 100%;
  object-fit: cover;
}

.hero {
  display: flex;
}

.hero__text {
  padding: 60px;
  flex: 1;
  background: #FF8458;
  border-right: 5px solid #111;
}

.hero__title {
  padding-bottom: 20px;
  max-width: 410px;
  font-weight: 700;
  font-size: 82px;
  line-height: 0.9;
  color: #111;
  text-transform: uppercase;
  white-space: pre-line;
}

.hero__descr {
  padding-bottom: 20px;
  max-width: 615px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  color: #111;
}

.hero__link {
  padding: 16px 28px;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border: 4px solid #111;
  transition: background 0.3s, color 0.3s;
}

.hero__link:hover {
  background: #111;
  color: #FFF;
}

.hero__items {
  padding: 28px;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #FFF;
}

.hero__item {
  padding: 20px;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
  background: #F5F5F5;
  border: 4px solid #111;
}

.hero__digit {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
}

.dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  z-index: 10;
  width: 320px;
  background: #FFF;
  border: 5px solid #111;
  box-shadow: 10px 10px 0 0 #111;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
}

.dropdown--visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__top {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: #00E88F;
  border-bottom: 5px solid #111;
}

.dropdown__avatar {
  display: block;
  width: 54px;
  height: 54px;
  border: 3px solid #111;
  border-radius: 100%;
  object-fit: cover;
}

.dropdown__name {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
}

.dropdown__position {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
}

.dropdown__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.dropdown__link {
  padding: 20px;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #111;
  transition: background 0.3s, color 0.3s;
}

.dropdown__count {
  padding: 2px;
  min-width: 24px;
  height: 24px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background: #111;
  transition: background 0.3s, color 0.3s;
}

.dropdown__item:first-child .dropdown__link {
  background: #FFF;
}

.dropdown__item:nth-child(2) .dropdown__link {
  background: #D9FF70;
}

.dropdown__item:nth-child(3) .dropdown__link {
  background: #9EEBFF;
}

.dropdown__item:last-child .dropdown__link {
  background: #FFD86B;
}

.dropdown__link:hover {
  background: #111 !important;
  color: #FFF;
}

.dropdown__link:hover .dropdown__count {
  background: #FFF;
  color: #111;
}

.dropdown__logout {
  padding: 20px;
  width: 100%;
  font-family: inherit;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: #111;
  display: flex;
  align-items: center;
  background: #D8BCFF;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.dropdown__logout:hover {
  background: #111;
  color: #FFF;
}

@media (max-width: 837px) {

  .header {
    padding: 16px 22px;
    gap: 14px;
  }

  .header__logo {
    font-size: 21px;
  }

  .header__list {
    gap: 8px;
  }

  .header__link {
    padding: 8px 11px;
    font-size: 11px;
  }

  .header__btn {
    padding: 5px 8px;
    font-size: 11px;
    gap: 8px;
  }

  .header__avatar {
    width: 37px;
    height: 37px;
  }

  .dropdown {
    width: 224px;
  }

  .dropdown__top {
    padding: 14px;
    gap: 8px;
  }

  .dropdown__avatar {
    width: 37px;
    height: 37px;
  }

  .dropdown__name {
    padding-bottom: 3px;
    font-size: 11px;
  }

  .dropdown__position {
    font-size: 11px;
  }

  .dropdown__link {
    padding: 14px;
    font-size: 11px;
  }

  .dropdown__count {
    min-width: 16px;
    height: 16px;
    font-size: 11px;
  }

  .dropdown__logout {
    padding: 14px;
    font-size: 11px;
  }

  .hero__text {
    padding: 42px;
  }

  .hero__title {
    padding-bottom: 14px;
    font-size: 57px;
  }

  .hero__descr {
    padding-bottom: 14px;
    font-size: 15px;
  }

  .hero__link {
    padding: 11px 19px;
    font-size: 11px;
  }

  .hero__items {
    padding: 19px;
    width: 238px;
    gap: 11px;
  }

  .hero__item {
    padding: 14px;
    font-size: 11px;
  }

  .hero__digit {
    padding-bottom: 3px;
    font-size: 22px;
  }
}

@media (max-width: 612px) {

  .header {
    padding: 11px 15px;
    gap: 9px;
  }

  .header__list {
    flex-direction: column;
    gap: 6px;
  }

  .header__item {
    display: flex;
  }

  .header__link {
    flex: 1;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .hero__text {
    padding: 29px;
    border-right: none;
    border-top: 5px solid #111;
  }

  .hero__items {
    width: 100%;
  }

  .hero__item {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
  }
}